__pycache__/
.ipynb_checkpoints/
.venv*/
.lsenv/
cache/
.env

pipeline/outputs/*
!pipeline/outputs/*_pu_features.*
data/images/
data/dem/
data/annotation_v1_images/
data/meta/**/*local.csv
data/meta/**/*ls.csv
**/*.tif